#payment_table {
    display: none;
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
}

.btn{
    width: 100px;
    margin: 10px;
}

#page_heading{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

#instruction-panel{
    border: 1px solid green;
    padding: 10px;
    text-align: justify;
    margin-bottom: 2%;
}

#instruction-heading{
    font-size: .9em;
}

#instructions, 
#instructions *{
    font-size: 10px;
}

.radio-buttons{
    margin-right: 30px;
}

.radio-buttons *{
    margin-right: 10px;
}

#loan_calc_body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#button_row{
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
}
